/*RESET*/

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #6abbe0;
}

/*HEADER*/
header {
  height: 150px;
  background-color: #17a9ed;
  padding: 0 50px;
  color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  font-size: 18px;
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  background-color: #17a9ed;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color: #194647;
}

#check {
  display: none;
}

/*BANNER*/
#presentacion {
  width: 100%;
  margin-top: 60px;
  padding: 0 50px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-presentacion {
  position: relative;
  color: #6abbe0;
  height: 100%;
  display: flex;
  flex-direction: row; /* Cambiado de column a row */
  justify-content: top;
}

.contenido-presentacion h2 {
  font-family: "DM Serif Text", serif;
  color: #042a56;
  font-size: 30px;
  font-weight: 400;
  padding: 10px 0px;
  text-shadow: 3px 3px 3px #76acd3;
  margin-left: 70px;
  margin-right: 90px;
}

/*actividades*/

#actividades {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: #6abbe0;
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#actividades img {
  border-radius: 100%;
  display: flex;
}

#actividades div {
  padding: 30px 30px;
}

#actividades div h4 {
  font-size: 20px;
  margin: 15px 0px;
  color: #042a56;
}

.boton-sabermas {
  display: inline-block;
  text-decoration: none;
  color: #133637;
  padding: 10px 30px;
  border: 3px solid #133637;
  border-radius: 30px;
  margin-top: 15px;
  transition: all 0.4s;
}

#noticias {
  margin-top: 20px;
  width: 100%;
  background-color: #6abbe0;
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.cadanoticia img {
  margin-top: 20px;
}

.cadanoticia h4 {
  font-size: 20px;
  margin: 15px 0px;
  color: #042a56;
}
.cadanoticia p {
  color: #042a56;
}
/*FOOTER*/

#piePagina {
  width: 100%;
  height: 100px;
  background-color: #17a9ed;
  padding: 0 50px;
  color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#piePagina h4 {
  background-color: #17a9ed;
  font-size: 15px;
  color: #9decf5;
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  /*HEADER*/
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #6abbe0;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu {
    right: 0;
  }

  #presentacion {
    flex-direction: column;
  }
  #actividades {
    flex-direction: column;
  }

  #noticias {
    flex-direction: column;
  }
  #piePagina {
    flex-direction: column;
  }

  @media (max-width: 1200) {
    *{
      width: 90%;
    }
}
