@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("/css/actividadessociales.css");

/*RESET*/
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #6abbe0;
}

/*HEADER*/
header {
  height: 150px;
  background-color: #17a9ed;
  padding: 0 50px;
  color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  width: 100%;
  font-size: 22px;
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  background-color: #17a9ed;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color: #194647;
}

#check {
  display: none;
}

/*BANNER*/
#presentacion {
  width: 100%;
  margin-top: 60px;
  padding: 0 50px;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenido-presentacion {
  position: relative;
  color: #6abbe0;
  height: 100%;
  display: flex;
  flex-direction: row; /* Cambiado de column a row */
  justify-content: top;
}

.contenido-presentacion h2 {
  font-family: "DM Serif Text", serif;
  color: #042a56;
  font-size: 40px;
  font-weight: 400;
  padding: 10px 0px;
  text-shadow: 3px 3px 3px #76acd3;
  margin-left: 70px;
  margin-right: 90px;
}

/*actividades*/

#actividades {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: #6abbe0;
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#actividades img {
  border-radius: 100%;
  display: flex;
}

#actividades div {
  padding: 30px 30px;
}

#actividades div h4 {
  font-size: 20px;
  margin: 15px 0px;
  color: #042a56;
}

.boton-sabermas {
  display: inline-block;
  text-decoration: none;
  color: #133637;
  padding: 10px 30px;
  border: 3px solid #133637;
  border-radius: 30px;
  margin-top: 15px;
  transition: all 0.4s;
}

#noticias {
  margin-top: 20px;
  margin-right: 20px;
  width: 100%;
  background-color: #6abbe0;
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.cadanoticia img {
  margin-top: 20px;
}

.cadanoticia h4 {
  font-size: 20px;
  margin: 15px 15px;
  color: #042a56;
}
.cadanoticia p {
  font-size: 20px;
  margin: 15px 15px;
  color: #042a56;
}

/*CONTACTO HTML*/

.weather-content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 501px;
  text-align: center;
  padding: 20px 20px 50px;
  margin: 10% auto 0;
  background-color: #546785;
  border-radius: 9px;
}
.weather-content h1 {
  font-size: 34px;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.weather-content p {
  color: #cfcfd9;
  font-family: "Montserrat", sans-serif;
}
.result {
  margin-bottom: 8%;
}
.result p {
  margin: 5px 0 5px;
}
.result h2 {
  font-size: 70px;
  line-height: 70px;
  margin: -10px 0 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.result h5 {
  font-size: 21px;
  margin: 2px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
}
form input[type="text"],
form input[type="submit"],
form select {
  width: 100%;
  margin: 0px 0 25px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Montserrat", sans-serif;
}
form input[type="submit"] {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  background-color: #14d4a5;
  border: 1px solid #14d4a5;
  color: #fff;
  font-weight: 600;
  transition: width 1s;
  font-family: "Montserrat", sans-serif;
}
form input[type="submit"]:hover {
  width: 50%;
}
.alert-message {
  margin: 24px 0 0;
  color: red !important;
}

.contacto-mapa {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  text-align: center;
  background-color: #17a9ed;
}
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #1b2ced;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #17a9ed;
}
.contact-form h3 {
  font-size: 23px;
  color: #031d3b;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
  font-size: 20px;
  color: #042a56;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #1b2ced;
}

.contact-form form button {
  background: #1b2ced;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #1b2ced;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #17a9ed;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact-info p,
.contact-info ul {
  font-size: 20px;
  color: #042a56;
  background-color: #17a9ed;
}

.contact-info h4 {
  font-size: 23px;
  color: #031d3b;
}

/*FOOTER*/

#piePagina {
  width: 100%;
  height: 100px;
  background-color: #17a9ed;
  margin-top: 15px;
  color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#piePagina h4 {
  background-color: #17a9ed;
  font-size: 15px;
  color: #9decf5;
}
#historia h3 {
  font-size: 30px;
  margin: 15px 0px;
  margin-left: 100px;
  color: #042a56;
}
.historiaClub {
  margin-top: 20px;
  display: flex;
  flex-direction: row; /* Cambiado de column a row */
}
.historiaClub img {
  margin-left: 15px;
  margin-right: 15px;
}
.historiaClub p {
  font-size: 22px;
  color: #042a56;
  text-align: justify;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}
/*RESPONSIVE*/

@media screen and (max-width: 672px) {
  /*HEADER*/
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #6abbe0;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu {
    right: 0;
  }

  #presentacion {
    width: 100%;
    flex-direction: column;
  }
  #actividades {
    flex-direction: column;
  }

  #noticias {
    flex-direction: column;
  }
  #piePagina {
    flex-direction: column;
  }
}
/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
    background-color: #17a9ed;
  }
}
/*actividadessociales*/
@charset "utf-8";
/*css document*/

.actividades-sociales p {
  margin-top: 20px;
  font-size: 25px;
}
.actividades-sociales h1 {
  margin-top: 20px;
}

@keyframes alternate {
  0% {
    opacity: 20%;
    transform: scale(1.6);
  }
}
.titulo {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}
.slider-box {
  width: 90%;
  height: 800px;
  margin: 30px auto 0;
  overflow: hidden;
}
.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 12s infinite alternate ease-in-out;
}
.slider-box li {
  width: 70%;
  list-style: none;
  position: relative;
  background-color: #17a9ed;
}
.texto {
  position: absolute;
  text-align: center;
  padding: 0 150px;
  top: 500px;
  color: black;
}

.texto p {
  font-size: 25px;
  text-align: center;
}
.slider-box img {
  width: 60%;
  height: 60%;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@media (max-width: 991px) {
  body {
    padding: 30px;
  }
  .slider-box {
    width: 100%;
  }
  .texto {
    top: 50px;
    padding: 0;
  }
  .texto h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .texto p {
    font-size: 15px;
  }
}
